/* .main {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(247, 250, 253);
    box-sizing: border-box;
  } */
  
  section {
    display: flex;
    padding: 30px;
    justify-content: center;
    margin: 0 auto;
  }
  
  .welcome {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  section .gif {
    display: block;
  }
  
  section .barrier {
    color: var(--Secondary-Colour-06, black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif1;
    font-size: 100px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: 1.8px;
    width: 800px;
  }
  
  section .span {
    color: var(--primary-co-our-05, #068bf7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: 1.8px;
    width: 100%;
    font-size: 100px;
  }
  
  section .trust {
    width: 600px;
    color: var(--Gray-Colour-08, #6E7480);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.3px;
    padding-top: 10%;

  }
  
  section .button {
    display: flex;
    float: left;
    width: 100%;
    gap: 50px;
    padding-top: 5%;
  }
  
  section .account {
    border: 5px solid #0887ef;
    background-color: #0887ef;
    border-radius: 28px;
    padding: 10px 28px;
    color: var(--Gray-Colour-01, #FCFCFD);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
    line-height: normal;
    letter-spacing: 0.3px;
  }
  
  section .contact {
    display: flex;
    color: var(--Gray-Colour-08, #0887ef);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1.3px;
    gap: 0px;
    /* position: relative; */
    padding-top: 7%;
    justify-content: center;
    align-items: center;
  }
  
  section .contact:hover {
    column-gap: 5px;
    color: #4e9cea;
  }

  .img{
    width: 700px;
    height: 700px;
  }



  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }



  @media screen and (max-width: 728px) {
    /* @media(min-width: 390px) and (max-width: 539px){ */
      section{
        width: 10%;
    
      }
     
      section .gif {
        display: none;
      }
      section .barrier {
        color: var(--Secondary-Colour-06, black);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif1;
        font-size: 36px;
        font-style: normal;
        font-weight: 910;
        line-height: normal;
        letter-spacing: 1.5px;
        width: fit-content;
        /* padding-left: 4%; */
      }
      
      section .span {
        color: var(--primary-co-our-05, #068bf7);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 910;
        line-height: normal;
        letter-spacing: 1.5px;
        width: fit-content;
        font-size: 36px;
      }
      
      section .trust {
        width: fit-content;
        color: var(--Gray-Colour-08, #6E7480);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1.8px;
        padding-top: 7%;
        /* padding-left: 4%; */
    
      }
      
      section .button {
        display: flex;
        float: left;
        width: fit-content;
        gap: 5px;
        padding-top: 5%;
        /* padding-left: 4%; */
    
      }
      
      section .account {
        border: 5px solid #0887ef;
        background-color: #0887ef;
        border-radius: 28px;
        padding: 4px 8px;
        color: var(--Gray-Colour-01, #FCFCFD);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15.5px;
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        line-height: normal;
        letter-spacing: 0.3px;
        width: 190px;
    
      }
      
      section .contact {
        display: flex;
        color: var(--Gray-Colour-08, #0887ef);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 1.3px;
        gap: 0px;
        /* position: relative; */
        top: 13%;
        justify-content: center;
        align-items: center;
        width: 150px;
        padding-top: 3%;
      }
      
      section .contact:hover {
        column-gap: 5px;
        color: #4e9cea;
      }
    
      .contactSvg{
        display: none;
      }
    }


