.intro {
  display: block;
  background: rgba(235, 241, 255, 0.5);
  /* margin-left: 0 -20px; */
  /* margin-right: -20px;  */
  box-sizing: border-box;
  width: 100%;
}

section .choose {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 40px;
  text-align: center;
  padding: 40px;
}

section .img {
  display: block;
}

section .row4 {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;

}

section .button {
  display: flex;
  float: left;
  /* justify-content: space-between; */
  width: fit-content;
  gap: 20px;
}

section .account {
  border: 5px solid #0887ef;
  background-color: #0887ef;
  border-radius: 28px;
  padding: 10px 28px;
  color: var(--Gray-Colour-01, #FCFCFD);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  cursor: pointer;
  line-height: normal;
  letter-spacing: 0.3px;
}

section .contact {
  display: flex;
  border: 5px solid #d7ecfa;
  background-color: #d7ecfa;
  border-radius: 28px;
  padding: 5px 18px;
  color: var(--Gray-Colour-08, #0887ef);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3px;
  align-items: center;

}

section .contact:hover {
  column-gap: 5px;
  color: #4e9cea;
}

section .span2 {
  color: var(--primary-co-our-05, #0887ef);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  letter-spacing: 1.8px;
}

section .puncher {
  width: fit-content;
  line-height: 40px;
}

section .ticker {
  gap: 20px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  letter-spacing: 1.3px;
  width: 100%;
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 
@media (min-width: 912px) and (max-width: 1780px)  {

}

@media (min-width: 768px) and (max-width: 911px)  {

}


@media (min-width: 250px) and (max-width: 689px) {

}

@media(min-width: 540px) and (max-width: 767.98px) {
	
}

@media(min-width: 390px) and (max-width: 539px){ */

@media screen and (max-width: 728px) {
  .intro {
    display: block;
    width: 100%;
  }

  section .choose {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 40px;
    /* text-align: center; */
    /* padding: 40px; */
  }

  section .img {
    display: none;
  }

  section .row4 {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* gap: 20px; */

  }

  ul li {
    display: flex;
    float: right;
    /* width: 100%; */
    justify-content: space-between;
  }

  section .account {
    border: 5px solid #0887ef;
    background-color: #0887ef;
    border-radius: 28px;
    padding: 4px 8px;
    color: var(--Gray-Colour-01, #FCFCFD);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    line-height: normal;
    letter-spacing: 0.3px;
    width: fit-content;

  }

  section .contact {
    display: flex;
    border: 5px solid #d7ecfa;
    background-color: #d7ecfa;
    border-radius: 28px;
    padding: 4px 8px;
    color: var(--Gray-Colour-08, #0887ef);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    line-height: normal;
    letter-spacing: 0.3px;
    width: fit-content;
  }

  section .contact:hover {
    column-gap: 5px;
    color: #4e9cea;
  }

  .contactSvg {
    display: none;
  }

  section .span2 {
    color: var(--primary-co-our-05, #0887ef);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
  }

  section .puncher {
    width: fit-content;
    line-height: 40px;
  }

  section .ticker {
    gap: 20px;
    /* align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    justify-items: center;
    letter-spacing: 1.3px;
    width: fit-content;
    display: flex;
    /* flex-direction: column; */
  }
}